---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title='Om Oss - Klädd för förändring'
  description='Kort beskrivning om vi som skapat denna sida'
  canonicalURL='https://yrgo-sammanslaget.vercel.app/about'
>
  <section class='max-w-6xl text-center mx-auto'>
    <h1>Om Oss</h1>
  </section>
</Layout>
