---
import Layout from '../layouts/Layout.astro';
import Game from '../components/Game.astro';
import Footer from '../components/Footer.astro';
---

<Layout
  title='Klädd för förändring'
  description='Klädd för förändring är en digital interaktiv upplevelse för att lära ut fördelen med secondhand shopping'
  canonicalURL='https://yrgo-sammanslaget.vercel.app'
>
  <main class='p-4 mx-auto'>
    <Game />
  </main>
  <Footer />
</Layout>
