---
import Layout from '../layouts/Layout.astro';
import ButtonCTA from '../components/ButtonCTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout
  title='Projektet - Klädd för förändring'
  description='Förklaring om projektet'
  canonicalURL='https://yrgo-sammanslaget.vercel.app/project'
>
  <main class='mt-[110px]'>
    <div
      class='flex-col sm:flex sm:flex-row sm:justify-between max-w-6xl mx-auto px-4 xl:px-0 relative'
    >
      <div>
        <h1 class='font-semibold text-[46px]'>Projektet</h1>
        <p
          class='w-full max-w-[37rem] leading-8 mt-[16px] text-[23px] mb-8 sm:mb-16 text-[#404252]'
        >
          <span class='font-bold'>Klädd för förändring</span> är en interaktiv upplevelse
          skapad av studenter på Yrgo i samarbete med Björkåfrihet som en del av
          det årliga Sammanslaget.
        </p>
        <ButtonCTA
          url='https://sammanslaget.yrgo.se/'
          text='Läs mer om Sammanslaget'
        />
      </div>
      <div
        class='absolute right-0 xl:right-[-5%] bottom-[-150%] sm:bottom-[-150%]'
      >
        <img
          src='/images/flag.webp'
          alt='En flagga'
          class='mx-auto max-w-sm sm:max-w-none'
        />
      </div>
    </div>
    <section
      class='flex items-center justify-center text-center bg-[#f1d6d4] py-28 w-full mt-[300px]'
    >
      <div class='max-w-6xl mx-auto px-4 xl:px-0'>
        <h2
          class='text-[20px] max-w-[14rem] mx-auto sm:text-[26px] md:text-[37px] text-[#DE3831] w-full sm:max-w-3xl font-medium'
        >
          Små handlingar kan göra stor skillnad.
        </h2>
        <h2
          class='text-[20px] max-w-[14rem] mx-auto sm:text-[26px] md:text-[37px] text-[#DE3831] w-full sm:max-w-3xl font-medium'
        >
          Klicka på olika föremål i butikens skyltfönster och se hur du kan klä
          dig för förändring.
        </h2>
      </div>
    </section>
    <section
      class='mt-40 flex flex-col lg:flex lg:flex-row lg:justify-between lg:items-center max-w-6xl mx-auto px-4 xl:px-0'
    >
      <div class='mx-auto'>
        <img src='/images/bjorkafrihet-big.webp' alt='Björk o Frihet logga' />
      </div>
      <div class='mx-auto mt-10 lg:mt-0 lg:mx-0'>
        <p class='w-full max-w-lg leading-8 text-[20px]'>
          Björkåfrihet är en ideell förening med över 50 års erfarenhet av
          second hand och solidaritetsarbete. Genom internationellt
          solidaritetsarbete och opinionsarbete stödjer de organisationer som
          arbetar mot förtryck runt om i världen.
        </p>
      </div>
    </section>
    <section
      class='mt-32 flex flex-col lg:flex lg:flex-row lg:justify-between lg:items-center max-w-6xl mx-auto px-4 xl:px-0'
    >
      <div class='mx-auto'>
        <p class='w-full max-w-md leading-8 text-[20px]'>
          Vill du vara med och påverka IRL? Handla i Björkåfrihets butiker,
          lämna dina använda grejer eller bli medlem. Läs mer på <a
            href='https://bjorkafrihet.se'
            class='underline text-[#942621]'
            >bjorkafrihet.se
          </a>
        </p>
        <p class='w-full max-w-lg leading-8 text-[20px] mt-8'>
          Samtlig fakta på webbplatsen är hämtad från bjorkafrihet.se
        </p>
      </div>
      <div class='mx-auto mt-10'>
        <img src='/images/meditate.webp' alt='Svävande meditation' />
      </div>
    </section>
  </main>
  <Footer />
</Layout>
