<footer class='absolute bottom-0 h-[200px]'>
  <div class='relative h-full'>
    <svg
      id='visual'
      viewBox='0 0 900 200'
      xmlns='http://www.w3.org/2000/svg'
      xmlns:xlink='http://www.w3.org/1999/xlink'
      version='1.1'
      ><rect x='0' y='0' width='900' height='200' fill='#fff'></rect><path
        d='M0 51L18.8 63.3C37.7 75.7 75.3 100.3 112.8 104.2C150.3 108 187.7 91 225.2 92.2C262.7 93.3 300.3 112.7 337.8 109.8C375.3 107 412.7 82 450.2 74.2C487.7 66.3 525.3 75.7 562.8 82.7C600.3 89.7 637.7 94.3 675.2 106.3C712.7 118.3 750.3 137.7 787.8 142.5C825.3 147.3 862.7 137.7 881.3 132.8L900 128L900 201L881.3 201C862.7 201 825.3 201 787.8 201C750.3 201 712.7 201 675.2 201C637.7 201 600.3 201 562.8 201C525.3 201 487.7 201 450.2 201C412.7 201 375.3 201 337.8 201C300.3 201 262.7 201 225.2 201C187.7 201 150.3 201 112.8 201C75.3 201 37.7 201 18.8 201L0 201Z'
        fill='#faf0f0'
        stroke-linecap='round'
        stroke-linejoin='miter'></path>
    </svg>
  </div>
  <div class='p-4 max-w-6xl text-center text-xs mx-auto z-10 absolute bottom-2'>
    <p>School project @ <a href='https://www.yrgo.se/'>Yrgo</a></p>
  </div>
</footer>
