<section id='game' class='w-full py-6'>
  <div id='unity-container' class='unity-desktop max-w-6xl w-full mx-auto'>
    <canvas
      id='unity-canvas'
      class='max-w-6xl mx-auto w-full rounded-md md:rounded-xl'></canvas>
    <div id='unity-loading-bar'>
      <div id='unity-logo'></div>
      <div id='unity-progress-bar-empty'>
        <div id='unity-progress-bar-full'></div>
      </div>
    </div>
    <div id='unity-warning'></div>
    <div id='unity-footer'>
      <!-- <div id='unity-webgl-logo'></div> -->
      <div id='unity-fullscreen-button' class='hover:scale-110'>
        <svg
          width='58'
          height='58'
          viewBox='0 0 58 58'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            fill-rule='evenodd'
            clip-rule='evenodd'
            d='M44.7083 13.2917H38.6667C37.7053 13.2917 36.7832 12.9097 36.1034 12.2299C35.4236 11.5501 35.0417 10.6281 35.0417 9.66666C35.0417 8.70525 35.4236 7.78321 36.1034 7.10339C36.7832 6.42358 37.7053 6.04166 38.6667 6.04166H45.9167C47.519 6.04166 49.0557 6.67819 50.1888 7.81122C51.3218 8.94425 51.9583 10.481 51.9583 12.0833V19.3333C51.9583 20.2947 51.5764 21.2168 50.8966 21.8966C50.2168 22.5764 49.2947 22.9583 48.3333 22.9583C47.3719 22.9583 46.4499 22.5764 45.7701 21.8966C45.0903 21.2168 44.7083 20.2947 44.7083 19.3333V13.2917ZM19.3333 13.2917H13.2917V19.3333C13.2917 20.2947 12.9097 21.2168 12.2299 21.8966C11.5501 22.5764 10.6281 22.9583 9.66667 22.9583C8.70526 22.9583 7.78322 22.5764 7.1034 21.8966C6.42358 21.2168 6.04167 20.2947 6.04167 19.3333V12.0833C6.04167 10.481 6.6782 8.94425 7.81123 7.81122C8.94426 6.67819 10.481 6.04166 12.0833 6.04166H19.3333C20.2947 6.04166 21.2168 6.42358 21.8966 7.10339C22.5764 7.78321 22.9583 8.70525 22.9583 9.66666C22.9583 10.6281 22.5764 11.5501 21.8966 12.2299C21.2168 12.9097 20.2947 13.2917 19.3333 13.2917ZM19.3333 44.7083H13.2917V38.6667C13.2917 37.7052 12.9097 36.7832 12.2299 36.1034C11.5501 35.4236 10.6281 35.0417 9.66667 35.0417C8.70526 35.0417 7.78322 35.4236 7.1034 36.1034C6.42358 36.7832 6.04167 37.7052 6.04167 38.6667V45.9167C6.04167 47.519 6.6782 49.0557 7.81123 50.1888C8.94426 51.3218 10.481 51.9583 12.0833 51.9583H19.3333C20.2947 51.9583 21.2168 51.5764 21.8966 50.8966C22.5764 50.2168 22.9583 49.2947 22.9583 48.3333C22.9583 47.3719 22.5764 46.4499 21.8966 45.7701C21.2168 45.0902 20.2947 44.7083 19.3333 44.7083ZM38.6667 44.7083H44.7083V38.6667C44.7083 37.7052 45.0903 36.7832 45.7701 36.1034C46.4499 35.4236 47.3719 35.0417 48.3333 35.0417C49.2947 35.0417 50.2168 35.4236 50.8966 36.1034C51.5764 36.7832 51.9583 37.7052 51.9583 38.6667V45.9167C51.9583 47.519 51.3218 49.0557 50.1888 50.1888C49.0557 51.3218 47.519 51.9583 45.9167 51.9583H38.6667C37.7053 51.9583 36.7832 51.5764 36.1034 50.8966C35.4236 50.2168 35.0417 49.2947 35.0417 48.3333C35.0417 47.3719 35.4236 46.4499 36.1034 45.7701C36.7832 45.0902 37.7053 44.7083 38.6667 44.7083Z'
            fill='black'></path>
        </svg>
      </div>
      <!-- <div id='unity-build-title'>Bjork&Frihet</div> -->
    </div>
  </div>
  <div class='max-w-6xl w-full mx-auto sm:hidden text-center text-sm pt-10'>
    <p>
      WebGL builds are not supported on mobile devices, however, it still might
      work. If so, please turn your mobile to landscape view in order to
      interact with the game.
    </p>
  </div>
</section>

<script>
  // @ts-nocheck

  var container = document.querySelector('#unity-container');
  var canvas = document.querySelector('#unity-canvas');
  var loadingBar = document.querySelector('#unity-loading-bar');
  var progressBarFull = document.querySelector('#unity-progress-bar-full');
  var fullscreenButton = document.querySelector('#unity-fullscreen-button');
  var warningBanner = document.querySelector('#unity-warning');

  function unityShowBanner(msg, type) {
    function updateBannerVisibility() {
      warningBanner.style.display = warningBanner.children.length
        ? 'block'
        : 'none';
    }
    var div = document.createElement('div');
    div.innerHTML = msg;
    warningBanner.appendChild(div);
    if (type == 'error') div.style = 'background: red; padding: 10px;';
    else {
      if (type == 'warning') div.style = 'background: yellow; padding: 10px;';
      setTimeout(function () {
        warningBanner.removeChild(div);
        updateBannerVisibility();
      }, 5000);
    }
    updateBannerVisibility();
  }

  var buildUrl = 'Build';
  var loaderUrl = buildUrl + '/WEB GL.loader.js';
  var config = {
    dataUrl: buildUrl + '/WEB GL.data.unityweb',
    frameworkUrl: buildUrl + '/WEB GL.framework.js.unityweb',
    codeUrl: buildUrl + '/WEB GL.wasm.unityweb',
    companyName: 'DefaultCompany',
    productName: 'Bjork_Frihet',
    productVersion: '1.0',
    showBanner: unityShowBanner,
  };

  //   if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
  //     var meta = document.createElement('meta');
  //     meta.name = 'viewport';
  //     meta.content =
  //       'width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, shrink-to-fit=yes';
  //     document.getElementsByTagName('head')[0].appendChild(meta);
  //     container.className = 'unity-mobile';
  //     canvas.className = 'unity-mobile';

  //     unityShowBanner('WebGL builds are not supported on mobile devices.');
  //   }

  //   } else {
  //     canvas.style.width = '960px';
  //     canvas.style.height = '600px';
  //   }

  loadingBar.style.display = 'block';

  const iOSDevice = navigator.userAgent;
  console.log(iOSDevice);
  var script = document.createElement('script');
  script.src = loaderUrl;
  script.onload = () => {
    createUnityInstance(canvas, config, (progress) => {
      progressBarFull.style.width = 100 * progress + '%';
    })
      .then((unityInstance) => {
        loadingBar.style.display = 'none';
        fullscreenButton.onclick = () => {
          if (
            iOSDevice.includes('iPhone') ||
            iOSDevice.includes('iPad') ||
            iOSDevice.includes('iPod')
          ) {
            unityInstance.SetFullscreen(false);
          } else {
            unityInstance.SetFullscreen(1);
          }
        };
      })
      .catch((message) => {
        alert(message);
      });
  };
  document.body.appendChild(script);
</script>
