<header>
  <nav class='flex justify-between items-center max-w-6xl mx-auto p-5 xl:px-0'>
    <div>
      <a href='/' class='text-[20px]'>LOGGA</a>
    </div>
    <div>
      <ul class='flex space-x-12'>
        <li>
          <a
            href='/about'
            class='text-[20px] text-[#5B5D6B] hover:text-black active:text-black active:border-b-2 active:border-[#DE3831]'
            >Om oss
          </a>
        </li>
        <li>
          <a href='/project' class='text-[20px] text-[#5B5D6B] hover:text-black'
            >Projektet
          </a>
        </li>
        <li>
          <a href='/' class='text-[20px] text-[#5B5D6B] hover:text-black'
            >Startsidan
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
