<header>
  <nav
    class='flex flex-col justify-center items-center sm:flex sm:flex-row sm:justify-between sm:items-center max-w-6xl mx-auto p-5 xl:px-0 text-base md:text-[20px]'
  >
    <div>
      <a href='/' class=''
        ><img src='/images/logga.webp' alt='Logga' class='w-full max-w-[370px]'
        />
      </a>
    </div>
    <div>
      <ul class='flex space-x-4 md:space-x-12 pt-4 md:pt-0'>
        <li>
          <a
            href='/about'
            data-link='/about'
            class='text-[#5B5D6B] hover:text-black'
            >Om oss
          </a>
        </li>
        <li>
          <a
            href='/project'
            data-link='/project'
            class='text-[#5B5D6B] hover:text-black'
            >Projektet
          </a>
        </li>
        <li>
          <a href='/' data-link='/' class='text-[#5B5D6B] hover:text-black'
            >Startsidan
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<script>
  // @ts-nocheck
  const activePage = window.location.pathname;
  document.querySelectorAll('ul a').forEach((link) => {
    if (link.dataset['link'] === activePage) {
      link.classList.add('active');
    }
  });
  console.log(activePage);
</script>

<style>
  .active {
    color: #000;
    text-decoration-line: underline;
    text-underline-offset: 10px;
    text-decoration-color: #de3831;
    text-decoration-thickness: 3px;
  }
</style>
